<div class="wrap-sidebar">
    @Html.Action("_latestVideo", "Home")
</div>
<div class="widget wid-last-updates body_left_top">
    @Html.Action("_advertisement2", "Home")
</div>
<div class="widget wid-last-updates body_left_border ">
    @Html.Action("_advertisement3", "Home")
</div>
<div class="widget wid-last-updates body_left_border ">
    @Html.Action("_advertisement4", "Home")
</div>
<div class="widget wid-last-updates body_left_border ">
    @Html.Action("_advertisement5", "Home")
</div>
<div class="widget wid-last-updates body_left_border ">
    @Html.Action("_advertisement6", "Home")
</div>
<div class="widget wid-last-updates body_left_border ">
    @Html.Action("_advertisement7", "Home")
</div>
