@model News.Model.UpperMenuNewsModel
@{
    <meta content=@Model.Headline name="viewport" />
    ViewBag.Title = @Model.Headline;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("_header", "Home")
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">News</a></li>
            <li class="breadcrumb-item active">News details</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-content">
                        <h1 class="sn-title">@Model.Headline</h1>
                    </div>
                    <div class="sn-img">
                        <img src="@Model.NewsImage" />
                    </div>
                    <div class="sn-content">
                        @Html.Raw(Model.NewsContent)
                    </div>
                    @if (Model.image2 != null)
                    {
                        <div class="sn-img">
                            <img src="@Model.image2" />
                        </div>
                    }
                    @if (Model.VideoLink != null)
                    {
                        <div class="sn-img">
                            <iframe width="560" height="315" src="@Model.VideoLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         
                        </div>
                    }
                    <div class="sn-content">
                        @Html.Raw(Model.NewsContent2)
                    </div>
                </div>
                <div class="sn-related">
                    <h2>Related News</h2>
                    <div class="row sn-slider">
                        @Html.Action("_homeRelatedNewsList", "Home", "MenuId=" + Model.MenuId)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="news-list">
                            @Html.Action("_advertisement", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("_footer", "Home")