@model IEnumerable<News.Model.UpperMenuNewsModel>
@{

    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section class="content-header">
    <h1>
        User List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Content("~/Admin/CreateUpperMenuNews")" class="btn btn-default btn-success pull-right" style="color:white">Add Data</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Menu Name</th>
                                <th>Headline</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.MenuName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Headline)</td>
                                <td>
                                    @Html.ActionLink("Edit", "CreateUpperMenuNews", new { Id = item.Id })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


